@import url(reset.css);
@font-face {
  font-family: '../fonts/San Francisco Text';
  src: url("SanFranciscoText-Medium.eot");
  src: local("San Francisco Text Medium"), local("SanFranciscoText-Medium"), url("../fonts/SanFranciscoText-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SanFranciscoText-Medium.woff") format("woff"), url("../fonts/SanFranciscoText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'San Francisco Text';
  src: url("../fonts/SanFranciscoText-Bold.eot");
  src: local("San Francisco Text Bold"), local("SanFranciscoText-Bold"), url("../fonts/SanFranciscoText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SanFranciscoText-Bold.woff") format("woff"), url("../fonts/SanFranciscoText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'San Francisco Text';
  src: url("../fonts/SanFranciscoText-Semibold.eot");
  src: local("San Francisco Text Semibold"), local("SanFranciscoText-Semibold"), url("../fonts/SanFranciscoText-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SanFranciscoText-Semibold.woff") format("woff"), url("../fonts/SanFranciscoText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
html, body {
  background: #fdfdfd;
  min-width: 1100px;
  max-width: 2000px;
  height: 100%;
  margin: 0 auto;
  overflow: no-display;
  font-family: 'SanFranciscoText-Medium', sans-serif;
  /*border:8px solid white;*/ }

.animated {
  opacity: 0;
  transform: translateY(50px);
  -webkit-transform: translateY(50px); }
  .animated.up {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px); }
  .animated.fixed {
    transform: none;
    -webkit-transform: none; }

button {
  -webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */ }

.button {
  background: #e8e8e8;
  background: -moz-linear-gradient(top, #e8e8e8 1%, #cccccc 100%);
  background: -webkit-linear-gradient(top, #e8e8e8 1%, #cccccc 100%);
  background: linear-gradient(to bottom, #e8e8e8 1%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#cccccc',GradientType=0 );
  border-radius: 5px;
  color: black;
  padding: 12px 25px;
  font-family: 'SanFranciscoText-Medium', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.8px; }

* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: 0;
  font-family: 'SanFranciscoText-Medium', sans-serif; }
  * button:focus {
    outline: 0; }

::selection {
  background: #00008a;
  color: white; }

::-moz-selection {
  background: #00008a;
  color: white; }

button {
  /*Reset's every elements apperance*/
  background: none repeat scroll 0 0 transparent;
  border: none;
  border-spacing: 0;
  color: #26589F;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

h1 {
  font-family: 'SanFranciscoText-Medium', sans-serif;
  font-size: 1.8em;
  line-height: 1em;
  font-weight: 300;
  /*margin: 0.100em 0;*/ }

h2 {
  font-family: 'SanFranciscoText-Medium', sans-serif;
  font-size: 1.6em;
  line-height: 1.38em;
  font-weight: 300;
  /*margin: 0.100em 0;*/ }

h3 {
  font-family: 'SanFranciscoText-Medium', sans-serif;
  font-size: 1.4em;
  line-height: 1.38em;
  font-weight: 300;
  /*margin: 0.100em 0;*/ }

h4 {
  font-family: 'SanFranciscoText-Medium', sans-serif;
  font-size: 1.3em;
  line-height: 1.38em;
  font-weight: 400;
  /*margin: 0.100em 0;*/ }

h5 {
  font-family: 'SanFranciscoText-Medium', sans-serif;
  font-size: 1.2em;
  line-height: 1.38em;
  font-weight: 400;
  /*margin: 0.100em 0;*/ }

h6 {
  font-family: 'SanFranciscoText-Medium', sans-serif;
  font-size: 1.1em;
  line-height: 1.2em;
  font-weight: 400;
  /*margin: 0.100em 0;*/ }

p {
  font-family: 'SanFranciscoText-Medium', sans-serif;
  font-size: 0.950em;
  line-height: 1.400em; }

strong {
  font-weight: 800; }

.title.aboutTitle, .text.aboutTitle {
  font-family: 'SanFranciscoText-Semibold', sans-serif;
  width: 50%;
  float: left;
  margin: 60px 0 30px 0;
  padding: 0;
  text-align: left;
  color: #00008a;
  font-size: 3.800em;
  line-height: 1.200em; }
.title.projectTitle, .text.projectTitle {
  font-family: 'SanFranciscoText-Semibold', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0 20px 0 0;
  text-align: left;
  color: #00008a;
  font-size: 3.800em;
  line-height: 1.200em; }
.title.projectDescription, .text.projectDescription {
  width: 100%;
  margin: 2.000em 0 0 0;
  padding: 0 40px 0 0;
  text-align: left;
  color: #00008a; }

a:link, a:visited {
  font-family: 'SanFranciscoText-Medium', sans-serif;
  font-size: 0.950em;
  text-decoration: underline;
  color: #00008a; }

a:hover {
  text-decoration: none; }

header {
  width: 100%;
  background: #00008a;
  height: 80px; }
  header .headContainer {
    width: 1000px;
    height: 80px;
    margin: 0 auto; }
    header .headContainer .logo {
      width: 132px;
      height: 80px;
      float: left;
      background: url("../images/logo.png") center center no-repeat;
      background-size: 132px 30px; }

nav {
  float: right;
  height: 80px; }
  nav ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  nav li {
    float: left;
    height: 80%;
    overflow: hidden;
    margin: 0 10px; }
    nav li.active {
      border-bottom: 2px solid white; }
    nav li:hover {
      border-bottom: 2px solid white; }
  nav li a {
    font-size: 15px;
    line-height: 80px;
    display: block;
    color: white;
    text-align: center;
    padding: 0;
    text-decoration: none;
    cursor: pointer; }
  nav a:link, nav a:visited {
    font-family: 'SanFranciscoText-Medium', sans-serif;
    text-decoration: none;
    color: white; }
  nav a:hover {
    text-decoration: none; }

.container {
  width: 1000px;
  margin: 0 auto;
  overflow: auto; }

.largecontainer {
  width: 687px;
  display: inline-block;
  vertical-align: top;
  margin: 20px 40px 20px 0;
  -webkit-transition: all 0.34s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.34s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .largecontainer .box {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0;
    border: 1px solid #00008a;
    background: url("../images/line.svg") center center no-repeat;
    background-size: 200px 200px;
    position: relative;
    -webkit-transition: all 0.34s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.34s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .largecontainer .box.large {
      width: 687px;
      background: white;
      cursor: default;
      display: table; }
      .largecontainer .box.large .cell {
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 20px; }
        .largecontainer .box.large .cell .ttag {
          user-select: none;
          padding: 6px 10px;
          background: #00008a;
          color: white;
          font-family: 'SanFranciscoText-Medium', sans-serif;
          font-size: 14px;
          display: inline-block;
          margin: 5px;
          border-radius: 5px;
          -webkit-transition: all 0.14s cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: all 0.14s cubic-bezier(0.645, 0.045, 0.355, 1);
          cursor: pointer; }
          .largecontainer .box.large .cell .ttag:hover {
            background: #3e3eff; }

.showcontainer {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin: 20px 40px 20px 0;
  -webkit-transition: all 0.34s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.34s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer; }
  .showcontainer.large {
    width: 680px; }
  .showcontainer:hover {
    opacity: 0.6; }
  .showcontainer h5 {
    font-family: 'SanFranciscoText-Semibold', sans-serif;
    color: #00008a;
    text-align: left;
    width: 100%;
    padding: 1.000em 0 0 0; }
  .showcontainer p {
    font-family: 'SanFranciscoText-Medium', sans-serif;
    color: #00008a;
    text-align: left;
    width: 100%;
    padding: 0; }
  .showcontainer .divider {
    width: 40px;
    height: 2px;
    display: block;
    margin: 7px 0;
    background: #00008a;
    -webkit-transition: all 0.34s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.34s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .showcontainer .box {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0;
    border: 1px solid #00008a;
    background: url("../images/line.svg") center center no-repeat;
    background-size: 200px 200px;
    position: relative;
    -webkit-transition: all 0.34s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.34s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .showcontainer .box.large {
      width: 680px;
      background: white;
      cursor: default;
      display: table; }
      .showcontainer .box.large .cell {
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: center;
        text-align: center; }
        .showcontainer .box.large .cell .ttag {
          padding: 7px 12px;
          background: #00008a;
          color: white;
          font-family: 'SanFranciscoText-Medium', sans-serif;
          font-size: 15px;
          display: inline-block;
          margin: 10px; }
    .showcontainer .box .tab {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 150px;
      height: 120px;
      background: url("../images/tablet.png") center center no-repeat;
      background-size: 150px 120px;
      -webkit-transition: all 0.34s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.34s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .showcontainer .box .eye {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 113px;
      height: 80px;
      background: url("../images/eye.png") center center no-repeat;
      background-size: 113px 80px;
      -webkit-transition: all 0.34s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.34s cubic-bezier(0.645, 0.045, 0.355, 1); }

.backBtn {
  -webkit-transition: all 0.14s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.14s cubic-bezier(0.645, 0.045, 0.355, 1);
  float: left;
  width: auto;
  overflow: none;
  line-height: 2.500em;
  font-size: 1.200em;
  color: #00008a;
  cursor: pointer;
  user-select: none;
  border-bottom: 2px solid #00008a;
  margin: 40px 0; }
  .backBtn:hover {
    border-bottom: 2px solid white; }

.projectLeft {
  width: 40%;
  float: left; }

.projectRight {
  width: 60%;
  float: left; }
  .projectRight .browserWrap {
    width: 600px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 17px 58px -2px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 17px 58px -2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 17px 58px -2px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    overflow: hidden;
    padding: 0; }
    .projectRight .browserWrap img {
      padding: 0;
      margin: 0;
      display: block; }
